*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: rgb(22, 93, 247);
    color: white;
}

.header {
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    gap: 1rem;
}

.main {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(226, 226, 226);
    gap: 1rem;
    grid-auto-rows: auto;
    padding: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1;
    gap: 2rem;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 200px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.project {
    text-align: left;
    margin-left: 1rem;
    grid-column: 1;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.main p {
    font-size: 18px;
    text-align: left;
    font-family: sans-serif;
}

.main .card {
    background-color: #FFFFFF;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,  0, 0, 0.4);    
    text-overflow: ellipsis; 
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
    
}

.card .title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

h4 a {
    text-decoration: none;
    color: black;
}

.announcement li, .trends li {
    list-style-type: none;
}

.right {
    display: grid;
    grid-column: 2;
    grid-row: 1 / span 3;
    gap: 1rem;
}

.dashboard {
   font-weight: bold;
   font-size: 1.5rem;
}

.basic {
    font-weight: bold;
    margin-top: 3rem;
    gap: 1.5rem;
    display: grid;
    cursor: pointer;
}

.settings {
    font-weight: bold;
    margin-top: 3rem;
    display: grid;
    gap: 1.5rem;
    cursor: pointer;
    
}

.search-bar {
    background-color: rgb(226, 226, 226);
    
}

.menu {
    align-self: center;
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
}

.menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    gap: 1rem;
}

.greeting {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
}

.menu a {
    text-decoration: none;
    color: white;
    background-color: rgb(3, 89, 170);
    padding: 1rem 1rem;
    border-radius: 10px;
    gap: 1rem;
    cursor: pointer;
}

.name {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    font-weight: bold;
}



