*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: rgb(22, 93, 247);
    color: white;
}

.header {
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(224, 199, 167);
}

.main {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(250, 171, 197);
    gap: 3px;
    grid-auto-rows: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    display: grid;
     gap: 3px;
     grid-template-rows: 1fr 1fr;

}

.project {
    text-align: left;
    margin-left: 1rem;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.main p {
    font-size: 18px;
    text-align: left;
    font-family: sans-serif;
}

.main .card {
    background-color: #FFFFFF;
    color: BLACK;
    text-align: center;
    height: 200px;
    
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
}

.card .title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

h4 a {
    text-decoration: none;
    color: black;
}

.announcement li, .trends li {
    list-style-type: none;
}

.right {
    display: grid;
    grid-column: 4;
    grid-row: 1;
}